<div class="banner">
<h1>Like a movie? Save it here</h1>
</div>

<h1 class="mt-3">Lists</h1>

<%= link_to "Add new list", new_list_path %>

<div class="container">
<div class="d-flex m-2">
  <% @lists.each do |list| %>
  <div class="card card-title p-5">
    <h2><%= link_to list.name, list_path(list) %></h2>
  </div>
  <% end %>
</div>
</div>
