// Specific CSS for your home-page
body{
  background-color: black;
  text-align: center;
}

nav a {
  color: black;
  font-size: 20px;
  margin-left: 15px;
}

.banner {
  text-align: center;
  background: white;


  img{
    width:100%;
  }
}

h1 {
  color: white;
}
i {
  font-size: 30px;
  margin-left: 30px;
}

h2 {
  color: white;
  font-weight: 700px;
  font-size: 50px;
  font-family: $body-font;
  font-weight: 700;
  letter-spacing: -.1em;
  word-spacing: 0em;
}

.card {
  background-color: white;
  border: 0px;


  a {
    color: black;
    text-shadow: 1px 1px 2px rgb(37, 37, 37);
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
}
}

.banbox {
  position: absolute;
  top: 38rem;
  left: 3rem;
  // background-color: rgb(108, 71, 145);
}

.list-card {
  background-color: rgb(108, 71, 145);
  border-radius: 20px;
}

.pcard {
  position: absolute;
  top: 3.9rem;
  left: 3rem;
  padding: 25%;
  z-index: -2;
}

.lcard {
  position: absolute;
  top: 40rem;
  right: 0rem;
  padding: 25%;
  z-index: -2;
}
