// Specific CSS for your home-page
body{
  background-color: black;
  text-align: center;
}

nav a {
  color: black;
  font-size: 20px;
  margin-left: 15px;
}

.banner {
  padding: 150px;
  text-align: center;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgb(0, 0, 0) 100%), url('https://source.unsplash.com/white-film-strip-dWYjy9zIiF8');
  background-size: cover;
  background-position: center;

  h1 {
    color: white;
    text-shadow: 1px 1px 2px rgb(37, 37, 37);
    font-family: $title-font;
  }
}

i {
  font-size: 30px;
}

h2 {
  color: white;
  font-weight: 700px;
  font-size: 40px;
}

.card {
  // background-image: url('https://source.unsplash.com/random');
  background-color: white;
  a {
    color: black;
    text-shadow: 1px 1px 2px rgb(37, 37, 37);
}
}
