// Specific CSS for your home-page
body{
  background-color: black;
  text-align: center;
  width: 100vw;
  margin: 0;
}

h1 {
  color: white;
}

h2 {
  color: white;
  font-weight: 700px;
  font-size: 3rem;
  font-family: $body-font;
  font-weight: 700;
  letter-spacing: -.1em;
  word-spacing: 0em;
}

@media (max-width: 766px){
  h2{
    font-size: 2rem;
  }
}
