
// list boxes
.list {
  border: 1px solid rgb(255, 254, 255);
  border-radius: 20px;

  &:hover{
    box-shadow: 3px 3px rgb(172, 172, 172);
    background-color: black;
  }
}

.list a {
  color: black;
  text-shadow: 1px 1px 2px rgb(37, 37, 37);
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;

  &:hover {
      color: white;
      font-size: 1.5rem;
  }
}

// purple list box
.leftbox {
  position: absolute;
  top: 40rem;
  right: 0rem;
  min-width: 75vw;
  background-color: rgb(108, 71, 145);
  border-radius: 20px;
}

// media queries

@media (max-width: 1220px){
  .leftbox {
    top: 30rem;
  }
}

@media (max-width: 950px){
  .leftbox {
    top: 25rem;
  }
}

@media (max-width: 766px){
  .leftbox {
    top: 20rem;
  }

  .leftbox .button {
    display: none;
  }
}

@media (max-width: 690px){
  .lefbox {
    top: 20rem;
  }
}


@media (max-width: 590px){
  .leftbox {
    top: 16rem;
  }
}

@media (max-width: 540px){
  .leftbox {
    top: 16rem;
  }
}

@media (max-width: 450px){
  .leftbox {
    top: 13rem;
  }
}
